// Fonts
$-f-jose: 'Josefin Sans', sans-serif;

// Gradients
$-g-checkbox: hsl(192, 100%, 67%), hsl(280, 87%, 65%);

// Colors
$-c-bright-blue: hsl(220, 98%, 61%);

// Light Theme
$-c-l-card: hsl(0, 0%, 98%);
$-c-l-background: hsl(236, 33%, 92%);
$-c-l-text-check: hsl(233, 11%, 84%);
$-c-l-text-fade: hsl(236, 9%, 61%);
$-c-l-text: hsl(235, 19%, 35%);

// Dark Theme
$-c-d-background: hsl(235, 21%, 11%);
$-c-d-card: hsl(235, 24%, 19%);
$-c-d-text: hsl(234, 39%, 85%);
$-c-d-text-hover: hsl(236, 33%, 92%);
$-c-d-text-fade: hsl(234, 11%, 52%);
$-c-d-default: hsl(233, 14%, 35%);
$-c-d-text-fade: hsl(237, 14%, 26%);